@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --text-color: #151515;
    --red: #ed1d25;
    --red-dark: #900006;
    --red-darker: #320002;
    --red-transparent: rgba(237, 29, 37, 0);
    --gray-border: #c9c9c9;
    --gray-divider: #d6d6d6;
    --max-width-header: 1340px;
    --max-width-content: 1280px;
  }

  * {
    font-family: var(--font-urbanist), sans-serif;
  }

  html {
    font-size: 16px;
  }

  body {
    margin: 0;
    color: var(--text-color);
    background: var(--background);
    font-weight: 400;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  .topbar-link-hover:hover::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--red);
    z-index: 20;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container-header {
    max-width: calc(var(--max-width-header));
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-content {
    max-width: calc(var(--max-width-content));
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 638px) {
    .container-header {
      max-width: calc(var(--max-width-header));
      padding-left: 12px;
      padding-right: 12px;
    }

    .container-content {
      max-width: calc(var(--max-width-content));
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
