@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --text-color: #151515;
    --red: #ed1d25;
    --red-light: #ffe6e7;
    --red-pink: #ff9595;
    --red-border-secure-start: #ff787d;
    --red-border-secure-end: var(--red);
    --red-dark: #900006;
    --red-darker: #320002;
    --red-pill-start: var(--red-dark);
    --red-pill-end: #730307;
    --red-pill-spreads-start: #6f0307;
    --red-pill-spreads-end: #880205;
    --red-pill-secure-start: #800800;
    --red-pill-secure-end: #9b0c11;
    --red-transparent: rgba(237, 29, 37, 0);
    --text-color-opacity-15: rgba(21, 21, 21, 0.15);
    --gray-border: #c9c9c9;
    --gray-divider: #d6d6d6;
    --max-width-header: 1340px;
    --max-width-content: 1280px;
  }

  html {
    font-size: 16px;
  }

  body {
    margin: 0;
    color: var(--text-color);
    background: var(--background);
    font-family: var(--font-urbanist), sans-serif;
    font-weight: 400;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  .topbar-link-hover:hover::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--red);
    z-index: 20;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .send-icon-button {
    color: var(--text-color-opacity-15);
  }

  .group:hover .send-icon-button {
    color: var(--red);
  }

  .container-base {
    @apply mx-auto w-full px-5;
  }

  .container-header {
    @apply container-base;
    max-width: var(--max-width-header);
  }

  .container-content {
    @apply container-base;
    max-width: var(--max-width-content);
  }

  @media (max-width: 638px) {
    .container-base {
      @apply px-3;
    }
  }
}
